/config.json
/geoip.mmdb
# "air" (basically gomon 2) outputs here
tmp/
*.swp
# binaries. also main? but not realy
handlers
indigo
Indigo
# my personal configs
config-my.json
config-s.json
config.json
# default images folder or symlink
images
images/
images/*
# my ide junk
.idea
Indigo.exe
